.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-size: 2rem;
}

.container {
  width: 250px;
  display: flex;
  flex-direction: column;
}

.options ul {
  max-height: 350px;
  overflow: auto;
  list-style: none;
  border: 1px solid #999;
  border-top: none;
  border-radius: 2px;
  margin: 0;
  padding: 0;
}

.options li {
  text-align: left;
  padding: 0.4em;
  border-bottom: 1px solid #999;
  cursor: pointer;
}

.options li:hover {
  background: lightgray;
}

.highlight {
  background-color: yellow;
}

.active {
  background: lightgray;
}
